/* Estilos para el contenedor del filtro */
.filtro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio uniforme entre los elementos */
    margin-bottom: 15px; /* Espacio entre el filtro y las tarjetas */
}

.filtro-container select,
.filtro-container button,
.filtro-container input {
    height: 40px; /* Tamaño uniforme */
}

/* Estilos generales para el fondo */
body {
    background-color: #f8f9fa;
    padding: 20px;
}

/* Estilos para las tarjetas */
.card {
    margin: 15px;
    border-radius: 10px;
}

.card img {
    max-height: 300px;
    object-fit: cover;
}
